@import "../../../../utils/variables.scss";

.block-pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 600px;
  margin: 30px 0;
  text-align: right;
  li {
    display: inline-block;
    width: auto;
    height: auto;
    list-style-type: none;
    cursor: pointer;
    color: rgb(0, 188, 212);
    &.hide {
      display: none;
    }
    &.active {
      span {
        font-size: 30px;
      }
    }
  }
}