@import "../../utils/variables.scss";

.menu{
  padding: 30px 0;
  li {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $cyan;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}